.nav {
  background-color: #f9f9fa;
  padding: 25px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 18px;
}
.nav-ellipsis__notification {
  display: flex;
  justify-content: cneter;
  align-items: cneter;
  position: absolute;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  left: 25px;
}
